---
import SearchBar from "../components/SearchBar.astro";
---

<html lang="es-CL">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-gray-100">
		<SearchBar />
	</body>
</html>
